
#browngradient {
    overflow: hidden;
    position: absolute; 
    z-index: -1; 
    /* filter: opacity(1);  */
    /* width: calc(100vw - 10px); */
    width: 100vw;
    height: 100vh;
}
/* #bgdole {
    width: calc(100vw - 20px); height: 435vh; overflow: hidden; position: absolute; top: 175vh; 
    background:-moz-radial-gradient(ellipse at 81% 72%, rgb(112, 73, 0) 15%, rgb(42, 26, 2) 100%);
    background:-webkit-radial-gradient(ellipse at 81% 72%, rgba(112, 73, 0, 1) 15%, rgba(42, 26, 2) 100%);
    background:-o-radial-gradient(ellipse at 81% 72%, rgba(112, 73, 0, 1) 15%, rgba(42, 26, 2) 100%);
    background:-ms-radial-gradient(ellipse at 81% 72%, rgba(112, 73, 0, 1) 15%, rgba(42, 26, 2) 100%);
    background:radial-gradient(ellipse at 81% 72%, rgba(112, 73, 0, 1) 15%, rgba(42, 26, 2) 100%);
    background-attachment: fixed; 
    z-index: -2; 
} */
#darkbrownbg {
    position: absolute;
    z-index: -1;
}
@media only screen and (max-width: 500px) {
#brownbox {
    display: none;
  }
#bgdole {
    display: none;
}
#browngradient {
    width: 100%;
    margin-top: 10vh;
    transition: all 0.5s;
}
#kitchenimg.active {
    margin-top: 40vh;
}

}