#section-o-nas {
    margin-top: 50px;
    margin: 50px auto;
    width: 62%;
    border-radius: 40px;
    padding: 35px 50px 50px;
    box-shadow: 0 0 50px #553505;
}
#seconas-o-nas {
    line-height: 125%;
}
#seconas-paragraph {
    line-height: 150%;
}

@media only screen and (max-width: 500px) {
    #section-o-nas {
        border-radius: 20px;
    }
}