#seckontaktni-formular-inputy input, select, textarea { /*TEXTY*/
    font-size: 10px;
    margin: 3px;
    padding: 3px 50px 3px 15px;
}
#seckontaktni-formular-submit { /*BUTTON*/
    font-size: 15px;
    margin: 10px auto;
    padding: 0 25px;
}
#seckontaktni-formular-infopod { /*INFOPOD*/
    font-size: 10px;
}
@media only screen and (max-width: 500px) {
    #seckontaktni-formular-inputy input, select, textarea { /*TEXTY*/
        font-size: 12px;
    }
    #seckontaktni-formular-submit { /*BUTTON*/
        font-size: 15px;
    }
    #seckontaktni-formular-infopod { /*INFOPOD*/
        font-size: 7px;
        margin-bottom: 8px;
    }
}



#section-kontaktni-formular {
    display: flex;
    margin: 5% 15%;
    padding: 2% 5% 1%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    flex-direction: column;
    text-align: center;
}
#seckontaktni-formular-inputy {
    display: flex;
    flex-direction: column;
}
#seckontaktni-formular-inputy input, select, textarea {
    border-radius: 10px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.512);
    color: white;
    background-color: rgba(255, 255, 255, 0.158);
}
#seckontaktni-formular-inputy input::placeholder, select::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#seckontaktni-formular-inputy input:focus, select:focus, textarea:focus {
    outline: solid 2px rgb(98, 70, 1);
}
#seckontaktni-formular-submit { /*BUTTON*/
    /* width: 20%; */
    background-color: black;
    border-radius: 150px;
}
select {
    border-right: 16px solid transparent;
    color: rgba(255, 255, 255, 1);
}
select option {
    color: rgb(54, 54, 54);
}

#seckontaktni-formular-podrobnejsi-info {
    height: 20vh;
}
textarea {
    resize: none;
}

@media only screen and (max-width: 500px) {
    #section-kontaktni-formular {
        display: flex;
        margin: 50px 10px;
    }
}