@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
/* body {
    background:-moz-radial-gradient(ellipse at 81% 72%, rgb(112, 73, 0) 15%, rgb(42, 26, 2) 100%);
    background:-webkit-radial-gradient(ellipse at 81% 72%, rgba(112, 73, 0, 1) 15%, rgba(42, 26, 2) 100%);
    background:-o-radial-gradient(ellipse at 81% 72%, rgba(112, 73, 0, 1) 15%, rgba(42, 26, 2) 100%);
    background:-ms-radial-gradient(ellipse at 81% 72%, rgba(112, 73, 0, 1) 15%, rgba(42, 26, 2) 100%);
    background:radial-gradient(ellipse at 81% 72%, rgba(112, 73, 0, 1) 15%, rgba(42, 26, 2) 100%);
} */
body {
  background-color: white;
  overflow-x: hidden;
}
.p {font-family: Poppins;}
.b {font-family: Basement Grotesque;}
.m {font-family: Microsoft Yi Baiti;}
.ms {font-family: Montserrat;}
h1 {font-size: 4.5vw;}
h2 {font-size: 6vw;}
h3 {font-size: 4.4vw;}
p {font-size: 1.9vw;}
.fskarta {font-size: 1.5vw;}
.fskarta-cislo {font-size: 6vw; line-height: 100%;}

.logo {line-height: 80%}
.fw100 {font-weight: 100;}
.fw200 {font-weight: 200;}
.fw300 {font-weight: 300;}
.fw400 {font-weight: 400;}
.fw500 {font-weight: 500;}
.fw800 {font-weight: 800;}

.bg30 {background-color: rgba(255, 255, 255, 0.3);}
.bgbrgr {background-image: url(images/browngradient.jpg);
  background-size: cover;}
  
#section-zajima-vas h4 {font-size: 2vw;}
.cards {
  padding: 0 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.card {
  position: relative;
  display: flex;
  gap: 50px;
  height: 240px;
  width: 425px;
  border-radius: 35px;
  background-color: rgba(24, 6, 5, 0.8);
}
.card-button {
  border-radius: 10px;
  position: absolute;
  margin: 0 40px 20px 0;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255, 0.15);
}
.card:nth-child(1) .card-button {background-color: rgba(169, 20, 20, 0.15);}


button {
    font-family: Poppins; 
    font-size: 2.5rem;
    font-weight: 900;
    font-style: italic;
    color: white;
    border-radius: 15px;
    padding: 0.8rem 3rem;
    border: 0;
    cursor: pointer;
    /* transition: all 0.5s ease-out; */
}
button:hover {
    transform: scale(1.05);
    /* transition: all 0.5s ease-out; */
}

  /* Width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #452d02;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(20, 20, 20);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 59, 59);
  }


@media only screen and (max-width: 500px) {
  h2 {font-size: 2em}
  button {
    font-size: 1.25rem;
    font-weight: 900;
    font-style: italic;
    color: white;
    border-radius: 7px;
    padding: 0.8rem 2rem;
    border: 0;
    cursor: pointer;
    /* transition: all 0.5s ease-out; */
}
}